@model IEnumerable<GlobalShopping.Data.Entities.Category>

@{
	ViewData["Title"] = "Index";
}

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Categorías</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<a asp-action="Create" class="btn btn-outline-primary"> <i class="fa-solid fa-plus"></i> Crear Nuevo</a>
					</ol>
				</div>
			</div>
		</div>
	</section>


	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-body">
							<table id="MyTable" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.Name)
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.Name)
											</td>
											<td>
												<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-folder"></i> Detalle </a>
												<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i> Editar </a>
												<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Eliminar </a>
											</td>
										</tr>
									}
								</tbody>
								<tfoot>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.Name)
										</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>

					</div>

				</div>

			</div>

		</div>

	</section>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">
	$(document).ready(function () {
		$('#MyTable').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"aLengthMenu": [
				[10, 25, 50, 100, -1],
				[10, 25, 50, 100, "Todos"]
			],
			 "buttons": ["copy",  "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#MyTable_wrapper .col-md-6:eq(0)');
	});
</script>
}